{% extends 'base.html' %}


{% block body %}

{% load crispy_forms_tags %}


<div class="form">
    <h2>Profile Page</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_user|crispy}}
        {{profil|crispy}}
        <input type="submit" value="Update">
    </form>
</div>
    
{% endblock body %}

{% comment %} SOR: burda nasil bir kullanim yapacagim??? {% endcomment %}

{% comment %} enctype="multipart/form-data" --> Media dosyalarini formdan alabilmek icin! {% endcomment %}
    